<section class="section service-area bg-inherit overflow-hidden ptb_100">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-lg-6 order-2 order-lg-1">
        <!-- Service Text -->
        <div class="service-text pt-4 pt-lg-0">
          <h2 class="pb-4 pb-sm-0">Ensure the best outcomes for you and your residents.</h2>
          <!-- <p class="d-none d-sm-block pt-3 pb-4">With our accountability system, the residents in your homes
                        can easily help each other stay on track, ensuring compliance with your home's requirements and
                        an overall healthy home. Additionally, your home can easily acquire new residents with your
                        sober living home directory and application process.</p> -->
          <p class="d-none d-sm-block pt-3 pb-4">
            With {{ appName }}'s comprehensive accountability system, the residents in your homes can easily help each other stay on track in their
            recovery while the app securely manages the home's data, allowing you to focus on the success of the home as a whole.
          </p>
          <!-- Service List -->
          <ul class="service-list">
            <!-- Single Service -->
            <li class="single-service media py-2">
              <div class="service-icon pr-4">
                <span><i class="fas fa-cogs"></i></span>
              </div>
              <div class="service-text media-body">
                <p>With an easy onboarding process, get your homes up and running the way you want them to.</p>
              </div>
            </li>
            <!-- Single Service -->
            <li class="single-service media py-2">
              <div class="service-icon pr-4">
                <span><i class="fas fa-edit"></i></span>
              </div>
              <div class="service-text media-body">
                <p>Define the rules for your residents, including requirements for meeting attendance, chores, work, sponsorship, and more.</p>
              </div>
            </li>
            <!-- Single Service -->
            <li class="single-service media py-2">
              <div class="service-icon pr-4">
                <span><i class="fas fa-heartbeat"></i></span>
              </div>
              <div class="service-text media-body">
                <p>
                  Monitor the daily activities of your residents and their compliance with your home's requirements through our multi-faceted
                  accountability system.
                </p>
              </div>
            </li>
            <!-- Single Service -->
            <li class="single-service media py-2">
              <div class="service-icon pr-4">
                <span><i class="fas fa-cart-arrow-down"></i></span>
              </div>
              <div class="service-text media-body">
                <p>Stay connected to your residents with a dedicated group chat for your home as well as direct messaging.</p>
              </div>
            </li>
          </ul>
          <!-- <a href="#" class="btn btn-bordered mt-4">Learn More</a> -->
        </div>
      </div>
      <div class="col-12 col-lg-4 order-1 order-lg-2 d-block">
        <!-- Service Thumb -->
        <div class="service-thumb mx-auto">
          <img src="assets/img/smartmockups_11.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
