<section class="section work-area bg-overlay overflow-hidden ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <!-- Work Content -->
                <div class="work-content text-center">
                    <h2 class="text-white">How does {{appName}} work?</h2>
                    <p class="text-white my-3 mt-sm-4 mb-sm-5">{{appName}} uses HIPAA-compliant cloud-based technology
                        to provide you with secure, reliable and high performing services.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <!-- Single Work -->
                <div class="single-work text-center p-3">
                    <!-- Work Icon -->
                    <div class="work-icon">
                        <img class="avatar-md" src="assets/img/work_thumb_1.png" alt="">
                    </div>
                    <h3 class="text-white py-3">Setup your account</h3>
                    <p class="text-white">Sign up for your 30-day free trial on our website. No charges will be made to
                        your account until after the initial 30 days.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <!-- Single Work -->
                <div class="single-work text-center p-3">
                    <!-- Work Icon -->
                    <div class="work-icon">
                        <img class="avatar-md" src="assets/img/work_thumb_2.png" alt="">
                    </div>
                    <h3 class="text-white py-3">Setup your houses</h3>
                    <p class="text-white">Using a simple onboarding process, invite your residents and configure your
                        houses to operate using structure you define.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <!-- Single Work -->
                <div class="single-work text-center p-3">
                    <!-- Work Icon -->
                    <div class="work-icon">
                        <img class="avatar-md" src="assets/img/work_thumb_3.png" alt="">
                    </div>
                    <h3 class="text-white py-3">Enjoy the features!</h3>
                    <p class="text-white">Use {{appName}} to find new residents, assist your residents in
                        meeting their recovery goals and increase the success of your sober living
                        homes.</p>
                </div>
            </div>
        </div>
    </div>
</section>