<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155667333239-a4qmqn7lb0e4nsvgcp77784qndl4rq8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155667333239-a4qmqn7lb0e4nsvgcp77784qndl4rq8b</string>
	<key>API_KEY</key>
	<string>AIzaSyAdIFNhlBkvsRBWOidLx0-2kwfFHJo2Lak</string>
	<key>GCM_SENDER_ID</key>
	<string>155667333239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rats.dev</string>
	<key>PROJECT_ID</key>
	<string>phoenix-cleanhouse</string>
	<key>STORAGE_BUCKET</key>
	<string>phoenix-cleanhouse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155667333239:ios:c778e8465c2961881a0672</string>
	<key>DATABASE_URL</key>
	<string>https://phoenix-cleanhouse.firebaseio.com</string>
</dict>
</plist>