<div [formGroup]="formGroup" class="form-group">
  <div class="input-group">
    <div *ngIf="iconStyle" class="input-group-prepend">
      <span [ngClass]="{ 'alert': showErrors, 'alert-danger': showErrors }" class="input-group-text"><i
          [class]="'fas ' + iconStyle"></i></span>
    </div>
    <input [ngClass]="{ 'alert': showErrors, 'alert-danger': showErrors }" [formControlName]="formControlName"
      [type]="type" class="form-control" [name]="name" [placeholder]="placeholder" [required]="required">
  </div>
  <div *ngIf="showErrors" class="error-message">{{error ? error : customError}}</div>
</div>