<section class="section service-area bg-gray overflow-hidden ptb_100">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <!-- Service Text -->
                <div class="service-text pt-4 pt-lg-0">
                    <h2 class="text-capitalize mb-4">Easily manage your sober living homes
                    </h2>
                    <!-- Service List -->
                    <ul class="service-list">
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="service-icon pr-4">
                                <span><i class="fas fa-cogs"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p>With an easy onboarding process, get your homes up and running the way you want them
                                    to.</p>
                            </div>
                        </li>
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="service-icon pr-4">
                                <span><i class="fas fa-edit"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p>Define the rules for your residents, including requirements for meeting attendance,
                                    chores, work, sponsorship, and more.</p>
                            </div>
                        </li>
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="service-icon pr-4">
                                <span><i class="fas fa-heartbeat"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p>Monitor the daily activities of your residents and their compliance with your home's
                                    requirements through our multi-faceted accountability system.</p>
                            </div>
                        </li>
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="service-icon pr-4">
                                <span><i class="fas fa-cart-arrow-down"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p>Stay connected to your residents with a dedicated group chat for your home as well as
                                    direct messaging.</p>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-bordered mt-4">Learn More</a>
                </div>
            </div>
            <div class="col-12 col-lg-4 order-1 order-lg-2 d-none d-lg-block">
                <!-- Service Thumb -->
                <div class="service-thumb mx-auto">
                    <img src="assets/img/guest_home.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>