<section id="home" class="section welcome-area bg-inherit h-100vh overflow-hidden">
  <div class="shapes-container">
    <div class="bg-shape"></div>
  </div>
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <!-- Welcome Intro Start -->
      <div class="col-12 col-md-7">
        <div class="welcome-intro">
          <h1>Sober living at your fingertips with {{ appName }}</h1>
          <p class="my-4">
            {{ appName }} is the only app that streamlines the operation of sober living homes. Manage all aspects of
            your homes, keep your residents
            accountable, and stay connected!
          </p>
          <a routerLink="pricing" class="btn">Get Started</a>
        </div>
      </div>
      <div class="col-12 col-md-5 d-flex justify-content-center justify-content-md-start">
        <!-- Welcome Thumb -->
        <div class="welcome-thumb" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000">
          <img class="screenshot" src="assets/img/house-overview.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>