<div class="main">
    <app-scrollup></app-scrollup>
    <app-header-two></app-header-two>
    <app-breadcrumb-pricing></app-breadcrumb-pricing>
    <app-feature-one></app-feature-one>
    <app-discover-two></app-discover-two>
    <app-service-two></app-service-two>
    <app-pricing-one></app-pricing-one>
    <app-footer-one></app-footer-one>
    <div #floatingButton class="floating col-12">
        <button class="btn btn-bordered w-100 mt-3" type="button" (click)="signUp()">Start Free Trial</button>
    </div>
</div>